{% extends "layout.html" %}

{% block title %}Access Denied{% endblock %}

{% block content %}

<h1>Access Denied</h1>

<div style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe
        src="https://giphy.com/embed/4VY613vurPreyrIHux" width="50%" height="50%" style="position:absolute"
        frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
<p><a href="https://giphy.com/gifs/americangods-season-2-starz-american-gods-4VY613vurPreyrIHux">via GIPHY</a></p>

{% endblock %}