{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}

<div class="container">

    <h1>Login</h1>

    <form method="POST" action="{{ url_for('login') }}">
        {{ render_form(form) }}
    </form>

</div>
<!-- <form action="{{ url_for('login') }}" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token() }}
    <p>
        {{form.email.label(class="form-label")}} <br />{{ form.email(size=30, class="form-control") }} </p>
    {% for err in form.email.errors %}
    <span class="error">{{err}}</span>
    {% endfor %}
    <p>
        {{form.password.label(class="form-label")}} <br />{{form.password(size=30, class="form-control")}}
        {% for err in form.password.errors %}
        <span class="error">{{err}}</span>
        {% endfor %}
    </p>
    {{form.submit(class="btn btn-primary")}}
</form> -->
{% endblock %}